# JPEG
*.jpg
*.jpeg


*.mp4
*.mov

*.h5
**/__pycache__/** 
__pycache__/** 
__pycache__** 
**/__pycache__
/.vs_code/**
**/.vs_code

*.aux
*.log
*.fls

*.idx
*.blg
*.bbl
*.synctex
*.gz

*.ind
*.lof
*.out
*.xdv
*.ilg
*.lot
*.toc
*.fdb_latexmk





